<html>
    <head>
        <title>Cats and Dogs Classifier</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling.css') }}">
    </head>
    <body>
        <div class="form">
            <form action="/result", method="post", enctype="multipart/form-data">
                <div class="im-upload">
                    <label for="im:">Upload Your Image:</label>
                    <input type="file" name="file"> 
                </div>
                <div class="submit">
                    <input type="submit" name="submit">
                </div>
            </form>
        </div>
    </body>
</html>